    .admin--vehicles--main--container {
        width: auto;
        height: auto;
        padding-top: 65px;
        padding-left: 100px;
    }

    .admin--vehicle--main--container--box {
        width: 100%;
        height: 770px;
    }

    .admin--vehicles--header--container {
        width: 95%;
        height: 90px;
        display: flex;
    }

    .admin--vehicles--header--container h2 {
        padding-left: 40px;
        padding-top: 20px;
        font-size: 28px;
        font-weight: 500;
    }

    .admin--search--vehicle--container {
        display: flex;
        align-items: center;
        padding-left: 200px;
    }

    .admin--search--vehicle--container i {
        font-size: 28px;
        padding-right: 10px;
    }

    .admin--search--vehicle--container input {
        width: 500px;
        height: 50px;
        border-radius: 1rem;
    }
    .admin--search--vehicle--container input::placeholder {
        padding-left: 10px;
    }

    .admin--search--vehicle--container button {
        width: 150px;
        height: 50px;
        border-radius: 40px;
        background: linear-gradient(black, maroon);
        border: none;
        color: white;
        font-size: 1em;
        font-weight: 800;
        cursor: pointer;
        font-size: 15px;
        font-weight: 400;
    }

    .admin--icon--container {
        display: flex;
        align-items: center;
        gap: 100px;
        padding-left: 100px;
    }

    .admin--icon--container a {
        color: darkred;
    }
    .admin--icon--container  i {
        font-size: 25px;
    }

    /* vehicles--main--container */
.vehicles--main--container {
    width: 95%;
    height: 620px;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.1);
    margin-top: 30px;
    margin-left: 50px;
    overflow: scroll;
    display: flex;
    flex-direction: column; /* Ensure the items are stacked vertically */
    align-items: center;
    padding-top: 20px;
}

/* vehicles--main--box--container */
.vehicles--main--box--container {
    width: 1100px; /* Ensure it takes the full width of the parent container */
    max-width: 1200px; /* Set a maximum width */
    height: 270px;
    box-shadow: 1px 1px 1px 1px rgba(0.1, 0.1, 0.1, 0.1);
    margin-bottom: 20px; /* Add space between the two containers */
    display: flex;
}

.main--image--container img {
    width: 300px;
    height: 250px;
}

.vehicles--details--container h2 {
    font-size: 30px;
    font-weight: 600;
}

.vehicles--details--container span {
    font-size: 20px;
    font-weight: 295;
}
.vehicles--details--container h3 {
    padding-top: 10px;
    font-size: 22px;
    font-weight: 600;
}

.driver--details--container {
    padding-left: 40px;
}

.driver--details--container h2 {
    font-size: 30px;
    font-weight: 600;
}

.driver--details--container span{
    font-size: 20px;
    font-weight: 290;
}

.rent--price {
    padding-top: 50px;
    display: flex;
}

.rent--price span {
    font-weight: 600;
}

.rent--price p {
    padding-top: 30px;
    padding-left: 50px;
}
.rent--price h2 {
    padding-top: 25px;
    padding-left: 10px;
    font-size: 28px;
    color: darkred;
    font-weight: 550;
}