@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    padding: 0;
    margin: 0;
    outline: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    
}
.topbar{
    position: fixed;
    background: #fff;
    box-shadow:  0 4px 8px 0 rgba(0, 0, 0, 0.08);
    width: 100%;
    height: 60px;
    padding: 0 20px;
    display: grid;
    grid-template-columns: 2fr 10fr 0.4fr 1fr;
    align-items: center;
    z-index: 1;
}
.logo h2{
    color: maroon;
}

.search{
    position: relative;
    width: 60%;
    justify-self: center;
}
.search input{
    width: 100%;
    height: 40px;
    padding: 0 20px;
    font-size: 16px;
    outline: none;
    border: none;
    border-radius: 10px;
    background: #f5f5f5;
}
.search i{
    position: absolute;
    right: 15px;
    top: 15px;
    cursor: pointer;
}
.user{
    position: relative;
    height: 50px;
    width: 50px;
}
.user img{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.key{
    text-align: center;
    display: flex;

}
.key img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-left: 30%;
    transition: all 0.5s ease;

}

/*------sidebar-------*/
.sidebar{
    position: absolute;
    top: 60px;
    width: 100px;
    height: calc(100% - 60px);
    background: rgb(70, 2, 2);
    overflow: hidden;
    transition: width 0.5s linear;
}
.sidebar ul {
    margin-top: 30px;
}
.sidebar ul li{
    position: relative;
    width: 90px;
}

.sidebar ul li a {
    position: relative;
    font-size: 15px;
    width: 300px;
    text-decoration: none;
    color: #fff;
    height: 50px;
    display: flex;
    align-items: center;
    overflow: hidden;
    padding:20px;
    margin-top: 1em;
}

.sidebar ul li a:hover{
    background:#fff;
    color: #000000;
    border-radius: 30px;
    padding: 5px;
    transition: all 0.5s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 17px;
}

.sidebar:hover{
    width: 260px;
    transition: all 0.5s ease;
}
.sidebar ul li a i {
    position: relative;
    width: 70px;
    height: 40px;
    top: 14px;
    font-size: 25px;
    text-align: center;
}
.nav-item{
    position: relative;
    top: 12px;
    margin-left: 10px;
}
.bottom-content{
    position: absolute;
    bottom: 0;
}

.account_container {
    padding-left: 120px;
    padding-top: 80px;
    height: fit-content;
}
.account_details_container {
    height: 600px;
    width: 100%;
    padding-left: 350px;
    padding-top: 20px;
}
.account_head {
    padding-left: 150px;
    padding-top: 20px;
}
.account_head h1 {
    font-size: 30px;
    font-weight: 800;
    color: maroon;
}

.account_details {
    align-items: center;
    height: 700px;
    width: 90%;

}
.account_form {
    padding-left: 20px;
    padding-top: 20px;
}


.form_head {
    padding-bottom: 10px;
}
.form_head h1 {
    text-align: center;
}

.form_details {
    padding-left: 15px;
}

.form_details input {
    width: 420px;
    height: 40px;
    padding-left: 20px;
    font-size: 23px;
}

.form_details label {
    font-size: 20px;
}

.account_button {
    padding-top: 60px;
    align-items: center;
    text-align: center;
}

.account_button button {
    margin: 0 60px; /* Add horizontal space between the buttons */
    width: 180px;
    height: 50px;
    border-radius: 12px;
    font-size: 20px;
    
}


/*-----settings design-----*/
.about {
    position: absolute;
    top: 60px;
    width: calc(100% - 260px);
    left: 260px;
    min-height: calc(100vh - 60px);
  }

.setting-image{
    top: 20px;
  position: relative;
  margin-left: 10%;
  height: 400px;
}
.setting-charts{
    top: 60px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    width: 100%;
    padding: 20px;
}
.setting-chart{
    background: #fff;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 1px 8px 10px  rgba(0, 0, 0, 0.2);
    width: 100%;
    padding-inline: 35px;
    border: 2px solid #fff;
}
.setting-chart li a {
    text-decoration: none;
    font: 25px;
    color: #000000;
}
.setting-chart li i{
    margin: 10px;
}
.setting-chart:hover{
    background: rgb(77, 5, 5);
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.5s ease;
}
.setting-chart li a:hover{
    color: #fff;
}
.setting-chart li i:hover{
    color: #fff;
}
.setting-chart li p:hover{
    color: #fff;
}

    .account_form {
        width: 95%;
        height: 620px;
        box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.1);
        border-radius: 30px;
        font-size: 14px;
        padding-left: 20px;
    }
    .form_details label {
        font-size: 15px;
    color: maroon;
    font-weight: 600;
    }

    .form_details input{
        margin: 5px;
        margin-left: 10px;
        width: 300px;
        height: 50px;
        box-shadow: 1px 1px 4px 4px rgba(17, 1, 1, 0.1); /* Subtle shadow */
        text-align: center;
        justify-content: center;
        border: none;
        font-size: 14px;
    }

    .form_details button {
        background: #fff;
        padding: 10px;
        border-radius: 10px;
        box-shadow: 1px 8px 10px  rgba(0, 0, 0, 0.5);
        width: 250px;
        padding-inline: 35px;
        border: 2px solid #fff;
        font-size: 15px;
        font-weight: 600;
        color: maroon;
        margin: 20px;
    }

    
  .reservation--container--box {
    width: 95%;
    height: 550px;
    border-radius: 30px;
    font-size: 14px;
    padding-left: 20px;
  }
  .user--reservation--main--container--box label{
    font-size: 15px;
    color: maroon;
    font-weight: 600;
  }
  .user--reservation--main--container--box input{
    margin: 5px;
    margin-left: 10px;
    width: 300px;
    height: 50px;
    box-shadow: 1px 1px 4px 4px rgba(17, 1, 1, 0.1); /* Subtle shadow */
    text-align: center;
    justify-content: center;
    border: none;
  }
  .user--information--container {
    padding-left: 50px;

 }
 
 .user--information--container span {
     font-size: 17px;
     color: maroon;
     font-weight: 600;
     margin-top: 5px;
 }
 
 .box{
    margin: 20px;
     width: 300px;
     height: 50px;
     box-shadow: 1px 1px 4px 4px rgba(17, 1, 1, 0.1); /* Subtle shadow */
     text-align: center;
     justify-content: center;
 }
 .box p{
     padding: 10px;
 }
 .button--edit--container {
    display: flex;
    flex-wrap: wrap; /* Allow buttons to wrap to the next line on smaller screens */
    gap: 20px; /* Maintain spacing between buttons */
    justify-content: center; /* Center the buttons within the container */
}

.button--edit--container button {
    background: #fff;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 1px 8px 10px  rgba(0, 0, 0, 0.5);
    width: 250px;
    padding-inline: 35px;
    border: 2px solid #fff;
    font-size: 15px;
    font-weight: 600;
    color: maroon;
    margin: 20px;
}
.button--edit--container button:hover{
    background: maroon;
    color: #fff;
    transition: all 0.5S ease;
    cursor: pointer;
}